
.toggle{
    //background-color: rgb(221, 221, 221);
    border-radius: 5em;
    svg{
      color: #337ab7;
    }
}


#dropdownUser{
    background-color: #6c757d;
    border-color: rgb(216, 216, 216);

}

.username >  a:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
}
